<!--Taylor Liss - Oregon State University - Prof. Luyao Zhang - CS290 Web Dev 
Winter 2017 - Week 9 Database Interactions and UI-->

<!doctype html>
<html>
<head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/buttons.js" type="text/javascript"></script>
</head>
<!--<body onload="Javascript:displayTable()">-->
<body>
    {{{body}}}
    {{{test}}}
</body>
</html>