<!doctype html>
<html>
<head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/buttons.js" type="text/javascript"></script>
</head>
<body>
    {{{body}}}
</body>
</html>


<!--    <form method="get">
        <button type="submit" onclick="runTest()">GET Request</button>
    </form>

    <button onclick="runTest()">Run JavaScript</button>-->