<h1>The Home Page</h1>

<a href="http://localhost:8080/">Home Page</a>
</br>
<a href="http://localhost:8080/insert?c=Demo+Task">Insert demo</a>
</br>
<a href="http://localhost:8080/reset-table/">Reset Table</a>

<h1>MySQL Results:</h1>
<p>{{results}}</p>