<!--<input type="submit" id="Submit">-->

<form>
    <fieldset id="myField">
        <legend>New Exercise</legend>

        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="reps">Reps</label>
        <input type="number" name="reps" id="reps">
        <br>
        <label for="weight">Weight</label>
        <input type="number" name="reps" id="weight">
        <br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <br>
        <label for="lbs">Lbs</label>
        <input type="radio" name="lbs" id="lbsYes" value="1">Yes
        <input type="radio" name="lbs" id="lbsNo" value="0">No
        <br>
        <div id="submitContainer"><input type="submit" id="Submit"></div>
    </fieldset>
</form>
<br>
<table id="myTable">
    <thead>
    <tr>
        <th id="idHead">ID</th>
        <th id="nameHead">Name</th>
        <th id="repsHead">Reps</th>
        <th id="weightHead">Weight</th>
        <th id="dateHead">Date</th>
        <th id="lbsHead">lbs?</th>
    </tr>
    </thead>
    <tbody id="myTableBody">
    </tbody>
</table>

<!--<td>
    <form method="post"> Hint! One goes to the .js file, the other to the Ajax request!
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="button" value="Delete" onclick="deleteRow('dataTable', this)" />
    </form>
</td>-->


<!--/*Hidden fields will be key to deleting and updating data. 
Every row should have a form (or two froms) holding the update 
and delete buttons. That form should also have an input of 
type="hidden" which holds the id of the row so you can easily 
pass that information to the server to delete or update the row.-->