<h1>Taylor's Workout Tracker</h1>
<form>
    <fieldset id="myField">
        <legend>New Exercise</legend>

        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="reps">Reps</label>
        <input type="number" name="reps" id="reps">
        <br>
        <label for="weight">Weight</label>
        <input type="number" name="weight" id="weight">
        <br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <br>
        <label for="lbs">Lbs</label>
        <input type="radio" name="lbs" id="lbsYes" value="1">Yes
        <input type="radio" name="lbs" id="lbsNo" value="0">No
        <br>
        <div id="submitContainer"><input type="submit" id="Submit"></div>
    </fieldset>
</form>
<br>
<table id="myTable">
    <thead>
    <tr>
        <th id="idHead">ID</th>
        <th id="nameHead">Name</th>
        <th id="repsHead">Reps</th>
        <th id="weightHead">Weight</th>
        <th id="dateHead">Date</th>
        <th id="lbsHead">lbs?</th>
    </tr>
    </thead>
    <tbody id="myTableBody">
    </tbody>
</table>