<h1>Taylor's Workout Tracker</h1>

<!--<form method="post"> 
    <input type="hidden" name="id" value="{{this.id}}">
    <input type="button" value="Delete" onclick="deleteRow('dataTable', this)" />
</form>-->

<form method="get">
    <button type="submit">GET Request</button>
</form>

<button onclick="runTest()">Run JavaScript</button>

<!--/*Hidden fields will be key to deleting and updating data. 
Every row should have a form (or two froms) holding the update 
and delete buttons. That form should also have an input of 
type="hidden" which holds the id of the row so you can easily 
pass that information to the server to delete or update the row.

Hint! One goes to the .js file, the other to the Ajax request!->

{{{script}}}