table {
    border-collapse: collapse;
}

#myTable th {
    border: 1px solid black;
}

td {
    height: 50px;
}

h1 {
    text-align: center;
    font-family: arial;
}

body>form {
    margin-bottom: 20px;
}

th:first-child, td:first-child{
    display: none;
}

body {
    background-color: #A6BBD7;
}

th:not(:nth-child(7)):not(:nth-child(8)){
    background-color: #315280;
    color: white;
    font-family: arial;
}

tr:nth-child(even) td:not(:nth-child(7)):not(:nth-child(8)) {
    background-color: #D6E1EF;
}

tr:nth-child(odd) td:not(:nth-child(7)):not(:nth-child(8)) {
    background-color: #A6BBD7;
}

#myTableBody td:not(:nth-child(7)):not(:nth-child(8)) {
    border: 1px solid black;
}

td:not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(8))>form>input{
    width: 150px;
    height: 18px;
}

td:nth-child(7)>form>input, td:nth-child(8)>form>input {
    width: 60px;
    height: 30px;
}

td:nth-child(7), td:nth-child(8) {
    padding-left: 7px;
    padding-right: 0px;
}

label {
    width: 47px;
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: right;
}

fieldset {
    width: 250px;
}

#submitContainer {
    text-align: center;
}

#Submit {
    margin-top: 3px;
}

#idHead {
    width: 30px;
}

#nameHead {
    width: 175px;
}

#repsHead {
    width: 175px;
}

#weightHead {
    width: 175px;
}

#dateHead {
    width: 175px;
}

#lbsHead {
    width: 100px;
}

td {
    text-align: center;
}

#myTable, #myField {
    margin: auto;
}

#date {
    width: 168px;
    height: 17px;
}

form>p {
    display: inline-block;
}